<?xml version="1.0"?>
<!--
/**
 * Plumtree_Complexgrd extension
 *                     NOTICE OF LICENSE
 * 
 *                     This source file is subject to the Plumtree License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://www.plumtree.com/LICENSE.txt
 * 
 *                     @category  Plumtree
 *                     @package   Plumtree_Complexgrd
 *                     @copyright Copyright (c) 2016
 *                     @license   https://www.plumtree.com/LICENSE.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="PlumtreeComplexgrdGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PlumtreeComplexgrdBannerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Plumtree\Complexgrd\Model\ResourceModel\Banner\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">PlumtreeComplexgrdGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PlumtreeComplexgrdSliderGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Plumtree\Complexgrd\Model\ResourceModel\Slider\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">PlumtreeComplexgrdGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Plumtree\Complexgrd\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">plumtree_complexgrd_banner</argument>
            <argument name="eventPrefix" xsi:type="string">plumtree_complexgrd_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Plumtree\Complexgrd\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>
    <type name="Plumtree\Complexgrd\Model\ResourceModel\Slider\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">plumtree_complexgrd_slider</argument>
            <argument name="eventPrefix" xsi:type="string">plumtree_complexgrd_slider_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">slider_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Plumtree\Complexgrd\Model\ResourceModel\Slider</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="plumtree_complexgrd_banner_listing_data_source" xsi:type="string">Plumtree\Complexgrd\Model\ResourceModel\Banner\Grid\Collection</item>
                <item name="plumtree_complexgrd_slider_listing_data_source" xsi:type="string">Plumtree\Complexgrd\Model\ResourceModel\Slider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
