<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="subscription" translate="label" sortOrder="1000">
            <label>MAIL CATALOG</label>
        </tab>
            <section id="subscription" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Email confirguation</label>
            <tab>subscription</tab>
            <resource>Plumtree_RequestCatalog::config_requestcatalog</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Admin Email Preferences</label>
                <field id="enable_frontend" translate="label comment" type="select" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify ?</label>
                    <comment>Whether or not send an email to the address below where there is new catalog request</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Email : </label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
					<comment>The Email address that will be notified of new catalog request</comment>
                </field>
				
				<field id="email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Template : </label>
                 <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
			       <comment>Add Email Template via System ->Transactional Emails.</comment>
                </field>
				 
			</group>
            <group id="customer_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Customer Email Preferences</label>
			<field id="enable1_frontend" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Notify ?</label>
			 <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
			  <comment>Whether or not send an email to the address below where there is new catalog request</comment>
			</field>
			<field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email : </label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
					<comment>The Email address that will be notified of new catalog request</comment>
                </field>
				<field id="email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Template :</label>
                 <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
			      <comment>Add Email Template via System -> Transactional Emails.</comment>
                </field>
			</group>
		</section>
    </system>
</config>
