<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

   <event name="checkout_submit_before">
       <observer name="plumtree_storepickaddress_observer_setstoreadd" instance="Plumtree\Storepickaddress\Observer\Setstoreadd" />
   </event>


</config>