<?xml version="1.0" ?>
<!--
/**
 * @category  Impact
 * @package   Impact_PixelIntegration
 * @author    Impact
 * @copyright Copyright (c) Impact Tech, Inc (http://www.impact.com)
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="impact" id="impact">
            <module name="Impact_PixelIntegration"/>
        </route>
    </router>
</config>