<?xml version="1.0"?>
<!--
/**
 * @category  Impact
 * @package   Impact_PixelIntegration
 * @author    Impact
 * @copyright Copyright (c) Impact Tech, Inc (http://www.impact.com)
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pixelintegration>
            <general>
                <enable>0</enable>
                <utt_source></utt_source>
                <sale_tracker_id></sale_tracker_id>
                <order_status>1</order_status>
            </general>
        </pixelintegration>
    </default>
</config>