<?xml version="1.0"?>
<!--
/**
 * @category  Impact
 * @package   Impact_PixelIntegration
 * @author    Impact
 * @copyright Copyright (c) Impact Tech, Inc (http://www.impact.com)
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="impact" translate="label" sortOrder="10">
            <label>Impact</label>
        </tab>
        <section id="pixelintegration" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pixel Integration</label>
            <tab>impact</tab>
            <resource>Impact_PixelIntegration::pixelintegration_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <comment><![CDATA[Not yet registered with Impact, <a href="https://app.impact.com/" target="_blank">click here</a> to signup.]]></comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="utt_source" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Universal Tracker script url</label>
                    <comment><![CDATA[To get your UTT script url, login to your <a href="https://app.impact.com/" target="_blank">Impact</a> account and navigate to Settings > Tracking > General. The UTT script url is in the Universal Tracking Tag section and looks similar to: '//d.impactradius-event.com/A123456-1234-1234-1234-c123c123456c1.js'.
                    <br>The script url you enter should start at 'A' and end with '.js']]></comment>
                </field>
                <field id="sale_tracker_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sale Tracker Id</label>
                    <comment><![CDATA[To get your Tracker Id, login to your <a href="https://app.impact.com/" target="_blank">Impact</a> account and navigate to Settings > Tracking > Event Types. The Tracker Id is the number next to your Event Name.]]></comment>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Submit completed orders only</label>
                    <comment>Only send orders with status completed.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>