<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<!-- ko if: isActive() || hasActiveOptions() -->
<!--<div class="cart-add-gift-wrap-area">
	<div class="cart-add-gift-wrap-block">
    <input class="gift-wrap" type="checkbox" />
    <span data-bind="i18n: 'add gift wrap'"></span>
    </div>
        <div id="messages"> 
        	<div class="message"> 
               <button type="button" class="primary">?</button>
           </div>
        </div>
          
        </div>

    -->    
</div>
<div class="cart-add-gift-message-area">
<a href="#"
   class="action action-gift"
   data-bind="
   click: $data.toggleFormBlockVisibility.bind($data),
   css: {_active: formBlockVisibility() || resultBlockVisibility()}
   ">
   <input name="gift-message" value="" checked="" type="checkbox">
    <span data-bind="i18n: 'add gift message'"></span>
</a>
<!-- ko if: getObservable('message') -->
<button type="submit" class="action action-edit" data-bind="
                            click: $data.editOptions.bind($data),
                            attr: {title: $t('Edit')">
                        <span data-bind="i18n: 'Edit'"></span>
			</button>
            <button class="action action-delete" data-bind="
                            click: $data.deleteOptions.bind($data),
                            attr: {title: $t('Delete')">
                        <span data-bind="i18n: 'Delete'"></span>
                    </button>
<!-- /ko -->
</div>
   
       

<script type="text/javascript">// <![CDATA[
require([
        'jquery',
        'Magento_Ui/js/modal/alert'
    ],
    function($, alert) {
       $('#messages').on('click', 'button.primary', function(event){
	   
            alert({
               content: $(event.target).parent().text()
            })
       })
    }
);
// ]]></script>
</div>


<div class="gift-content" data-bind="css: {_active: formBlockVisibility() || resultBlockVisibility()}"> <!-- add class "active" to display the content -->
    <!-- ko ifnot: resultBlockVisibility() -->
        <div class="gift-options">
            <!-- ko foreach: getRegion('additionalOptions') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <!-- ko template: formTemplate --><!--/ko-->
        </div>
    <!-- /ko -->
    <!-- ko if: resultBlockVisibility() -->
        <div class="gift-summary">
            <!-- ko foreach: getRegion('additionalOptions') -->
                <!--ko template: appliedTemplate --><!-- /ko -->
            <!-- /ko -->

            <!-- ko if: getObservable('message') -->
            	<div class="gift-message-to">
                    <span data-bind="i18n: 'To' + ':'"></span>
                    <!-- ko text: getObservable('recipient') --><!-- /ko -->
                </div>
                <div class="gift-message-from">
                    <span data-bind="i18n: 'From' + ':'"></span>
                    <!-- ko text: getObservable('sender') --><!-- /ko -->
                </div>
                <div class="gift-message-summary">
                    <span data-bind="i18n: 'Message' + ':'"></span>
                    <!-- ko text: getObservable('message') --><!-- /ko -->
                </div>
            <!-- /ko -->
            
            <div class="actions-toolbar">
                <div class="secondary">
                    
                    <button class="action action-delete" data-bind="
                            click: $data.deleteOptions.bind($data),
                            attr: {title: $t('Delete')">
                        <span data-bind="i18n: 'Delete'"></span>
                    </button>
                </div>
            </div>
        </div>
    <!-- /ko -->
</div>
<!-- /ko -->
