/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

@media print {
  * {
    -webkit-filter: none !important;
    background: transparent !important;
    filter: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  .table-wrapper table {
    width: 100%;
    table-layout: fixed;
  }
  .table-wrapper table td {
    width: auto;
  }
  .table-wrapper table > tfoot > tr:first-child {
    /*border-top: 1px solid #999999;*/
  }
  .box,
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 15px;
  }
  .block-content,
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  .block-content {
    page-break-before: avoid;
  }
  .block-title,
  h2,
  h3 {
    page-break-after: avoid;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidebar,
  .nav-sections,
  .header.content > *[class],
  .panel.wrapper > *[class],
  .footer.content > *[class] {
    display: none;
  }
  .logo,
  .footer .copyright {
    display: block !important;
    margin: 10px 0;
  }
   .logo{
   	float:left !important;
	width:100% !important;
	margin:0 auto !important;
   }
  .order-details-items .order-items .order-gift-message:not(.expanded-content) {
    height: auto;
    visibility: visible;
  }
  .column.main {
    float: none !important;
    width: 100% !important;
  }
  .breadcrumbs {
    margin: 0 auto;
    text-align: right;
  }
  .footer.content {
    padding: 0;
  }
/***************12-oct-2017*****************/  
/*.header.content > *[class]{display:block !important;}  */
header.page-header.fixed-menu-sticky .panel.wrapper{display: none;}
.header.page-header.fixed-menu-sticky .header.content span.nav-toggle{display: none;}
.header.page-header.fixed-menu-sticky .minicart-wrapper{display: none;}
.fixed-menu-sticky .header.content{margin-left:0px !important;margin-right:0px !important;}
.fixed-menu-sticky .block.block-search{display:none;}
.fixed-menu-sticky .nav-sections{display:none;}
.breadcrumbs .items{display:none;}
.catalog-product-view .breadcrumbs{display:none !important;}
.header.page-header.fixed-menu-sticky a.logo{    
	max-width: inherit !important;
    margin: 0 20px!important;
    text-align: center !important;
    float: left !important;
    width: 100% !important;
}
.header.page-header.fixed-menu-sticky a.logo img{display:inline!important;}
.product-info-main{margin-left:20px !important;border-top:1px solid #000 !important; float:left !important; width:100% !important;padding-top:20px !important;}
.page-header{border:0 !important;}
.custom-des-area{margin-left:0px !important; margin-right:20px !important;background:none !important;padding-top:0 !important;margin-top:20px !important;}
.page-header.fixed-menu-sticky{position:unset;box-shadow:none;-webkit-box-shadow:none;float:left;width:100%;}
main#maincontent.page-main.maincontent-sticky{float:left; width:100%; margin-top:15px !important;}
.pdp-left-icons{display:none !important;}
.box-tocart .control{display:none;}
.product-options-bottom {display:none;}
.custom-product-view .block.related .products-grid .product-item-actions{display:none;}
.action.tocart{display:none ;}  
.catalog-product-view .product.media {
    position: relative !important;
    width: 100% !important;
    text-align: center !important;
	float:left !important;
	margin:0px auto 0 auto!important;
	padding-bottom:3px;
	clear:both !important;
	margin-left: 0 !important;
}
.page-main{padding-top:0 !important;}
.fotorama__stage__frame.fotorama__active{background:#fff !important;}
.fotorama__thumb{
	background-color:transparent !important;
	overflow: visible !important;
    position: unset !important;
}
.spring-roll {display: none !important;}
.fotorama__nav--thumbs .fotorama__nav__frame{padding:0 5px !important;}
.fotorama__nav.fotorama__nav--thumbs.fotorama__shadows--right{width:100% !important;}
.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img{position:relative !important;}
.fotorama__wrap--css3 .fotorama__stage__shaft{width:800px !important;}
.fotorama__nav__shaft{text-align:center !important;}
.catalog-product-view .product.media .fotorama__wrap--slide .fotorama__stage{
	height:322px!important;
	padding-bottom:5px !important;
}
.page-product-grouped.page-layout-1column .product-info-main, .custom-product-view.page-layout-1column .product-info-main{margin:0 !important;}
.fotorama__wrap--css3 .fotorama__stage__shaft{width:100% !important; transform: inherit !important;}
.fotorama__wrap--css3 .fotorama__stage__shaft img{left:0 !important; right:0 !important; margin:0 auto !important;}
.fotorama__wrap--toggle-arrows .fotorama__stage{width:100% !important; float:none !important; margin:0 auto !important;}
.fotorama__wrap--toggle-arrows .fotorama__stage{border:0 !important;}

#back-to-top.show, #back-to-top{display:none !important;}
.gallery-placeholder .loader img{margin:0 !important;}
.pdp-des-detail-left-area {
    border-right: 0 !important;
    padding: 0 !important;
    margin: 0px !important;
    width: 100% !important;
    max-height: 100% !important;
    overflow: auto !important;
}
.page-main{max-width:100% !important;}
.pdp-des-detail-area{max-width:100% !important;display:block !important;}
.pdp-des-detail-right-area{width:100% !important;padding:0px !important;}
.pdp-des-detail-right-box.care{display:none !important;}
.pdp-des-detail-right-box h4{border:0 !important;}
.pdp-des-detail-right-box .tab-cr {font-size:12px !important; line-height:15px !important;}
.custom-des-area{padding:0 0 10px 0!important}
.tab-cr{max-height:100%!important;}
.block.upsell{display:none;}
footer.page-footer{display:none;}
.price-box .special-price{
	float: left !important;
    padding-left: 10px !important;
}
.page-product-grouped .price-box .special-price span.price{
	padding-top:0px!important;
}
.old-price {
    float: left !important;
}
.social-buttons{display:none !important;}
.pd-rgt-returns-help{display:none !important;}
.catalog-product-view .hp-free-shipping-banner-area, .pdp-des-banner-area, .pdp-ship-deli-area{display:none !important;}
.footer-btm-link-area{margin-left:20px !important;}
.page-product-grouped .table-wrapper.grouped{max-height:100%!important;margin-bottom:0 !important;overflow-y: inherit !important;}
.page-product-grouped .table-wrapper.grouped{margin-bottom:0 !important;}
.page-product-grouped .table-wrapper.grouped td.col.qty{display:none;}
.box-tocart{display:none;}
.page-product-grouped .table-wrapper.grouped td{border:0;}
.page-product-grouped .table-wrapper.grouped td.col.picture{float:left;width:75px;}
.page-product-grouped .table.grouped .col.item{float:left;width:350px;}
.page-product-grouped .table-wrapper.grouped{
	margin-top: 15px !important;
    float: left !important;
    width: 100% !important;
}
.page-product-grouped.page-layout-1column .product-info-main{width:100% !important;}
.custom-product-view .product-add-form .product-options-wrapper .field:not(.date) > .control{display:block!important;}
.custom-product-view .product-add-form .weltpixel-quickview{display:none;}
.custom-product-view .pro-ing img {box-shadow:none !important;}
.fotorama__nav__frame.fotorama__nav__frame--thumb {display: inline-block;}
.fotorama__thumb{background-color: transparent;overflow:inherit;}
.fotorama__nav{overflow:inherit;}
.fotorama__nav--dots .fotorama__nav__frame{height:90px;width:90px !important;}
.fotorama__nav__frame--dot {display: none !important;}
.footer-print{display:block !important;float:left !important; width:100% !important;padding-left:6px; -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.ftr-last-row .footer-menu{width:100% !important;}
small.copyright{display:none !important;}
.footer-btm-link-area{display:none !important;}
.footer-print ul li {
    display: inline;
    border-right: 1px solid #dcdcdc;
    padding: 0 7px 0 0;
	margin:0 5px 0 0;
    text-align: center;
	line-height:1;
	font-family:'ProximaNovaRegular' !important;
	font-size:11px !important;	
}
.custom-product-view .custom-pro-rgt-area{display:none !important;}
.page-product-grouped.page-layout-1column .product-info-main, .custom-product-view.page-layout-1column .product-info-main{width:100% !important;}
.footer-print ul li:last-child {border: 0;}
.footer-print ul{margin-bottom:0px !important;line-height:1.2 !important;}
.footer-print{text-align:center;}
.footer-print ul span{
	margin-top: 10px;
    display: block;
}
.fotorama--fullscreen .fotorama__stage__frame .fotorama__img--full{display:none !important;}
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal{max-width:100% !important;margin:0 auto !important;width:100% !important;clear: both !important;float: left !important;padding: 0 !important;}
.fotorama__nav.fotorama__nav--thumbs.fotorama__shadows--right{width:100% !important;float:none !important;overflow:visible !important;}
.fotorama__nav--thumbs{overflow:hidden !important;float:none !important;width: 100% !important;}
.fotorama__nav__shaft{position:relative; left:auto;right:auto; margin:0 auto;    text-align: center;}
.fotorama{overflow:inherit;}
.fotorama__nav{white-space:normal;}
.page-layout-1column .product-info-main{float:left; width:100%;margin-top: 5px !important; clear:both !important;}
.catalog-product-view .product.media {
    position: relative;
    float: left;
    width: 100%;
}
.fotorama__wrap--toggle-arrows .fotorama__stage{width:100% !important; height:100% !important;}
.fotorama-item .fotorama__wrap--toggle-arrows .fotorama__stage {
	width:100% !important;
}
.fotorama__nav--thumbs{height:auto !important;}
.fotorama-item.fotorama{overflow:visible !important;}
.fotorama-item .fotorama__wrap .fotorama__grab{width:100% !important;}
.fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--toggle-arrows.fotorama__wrap--no-controls{float:left !important; width:100% !important;}
.pdp-des-detail-left-area h3{font-size: 12px;line-height: 16px;padding-bottom:14px;}
.product-info-price .price-box .price-container .price{
	font-family:'ProximaNovaRegular' !important;
	font-size: 13px !important;
}
.pdp-des-detail-left-area p, .pdp-des-detail-left-area{font-size:12px !important; line-height:15px !important;}

.widget.block.block-static-block div.header-top{display:none !important;}
a.logo{
	width: 100% !important;
    float: left !important;
    text-align: center !important;
    max-width: 100% !important;
	margin-bottom: 5px !important;
}
.header.content a.logo img{margin:0 auto !important;max-width:400px;}
.product-add-form .product-options-wrapper .fieldset > .field .field.choice:nth-child(4n+1) {
    margin-left: 18px !important;
}
.page-footer .footer.content .nl-sm{border:0 !important;}
.custom-product-view .product-info-main .block.related .product-item-details{border:0 !important;}
.product.info.detailed{display:none !important;}
.page-product-grouped.catalog-product-view.page-layout-1column .column.main .product.media.fixed, .custom-product-view.catalog-product-view.page-layout-1column .column.main .product.media.fixed, .page-product-configurable.catalog-product-view.page-layout-1column .column.main .product.media.fixed, .simple-product-view.catalog-product-view.page-layout-1column .column.main .product.media.fixed, .page-product-grouped.catalog-product-view.page-layout-1column .column.main .product.media.fixed.fixedblack, .custom-product-view.catalog-product-view.page-layout-1column .column.main .product.media.fixed.fixedblack, .page-product-configurable.catalog-product-view.page-layout-1column .column.main .product.media.fixed.fixedblack, .simple-product-view.catalog-product-view.page-layout-1column .column.main .product.media.fixed.fixedblack{
	position:relative !important;
	top:0px !important;
	width:100% !important;
}
.page-product-grouped.catalog-product-view .column.main .product.media.bottom, .custom-product-view.catalog-product-view .column.main .product.media.bottom, .page-product-configurable.catalog-product-view .column.main .product.media.bottom{
	position:relative !important;
	top:0px !important;
	width:100%;
}
.custom-product-view .product-info-main .block.related .product-item-details{padding:0; margin:0;}
span.cst-top-prc, .page-product-configurable .price-box.price-final_price .rprc, .page-product-grouped span.mini-price, .page-product-grouped span.max-price, .page-product-grouped span.itemcnttotal{font-family: 'ProximaNovaRegular' !important;}
.products.wrapper.grid.products-grid.products-related {display: none!important;}
.custom-pro-rgt-area{display:none !important;}
#product-options-wrapper{display:none !important;}
.product-info-main{margin-left:0 !important;}
.product-social-links{display:none !important;}
.pdp-des-detail-left-area p, div.pdp-des-detail-left-area{margin-bottom:10px !important;}
.custom-des-area{margin-bottom:0px !important;}
.pdp-des-detail-left-area h3{
	padding:0 0 14px !important;
	font-size: 12px !important;
    line-height: 16px !important;
}
.pdp-des-detail-right-box p{margin-bottom:0 !important;}
.pdp-des-detail-right-box {padding-bottom: 20px !important;}
.pdp-des-detail-right-box h4{margin:0 !important;}
.pdp-des-detail-right-area{padding:0 !important; margin:0 !important;}
.pdp-des-detail-right-box h4{font-size: 12px !important;}
.simple-product-view .price-box .special-price{padding-top:2px !important;}
.fotorama__wrap--css3 .fotorama__nav{width:100% !important;}
.fotorama__stage__frame.fotorama__active > img{width:auto !important; height:280px !important; margin:0 auto !important;}
.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img{width:90px !important; height:90px !important;}
.fotorama__nav-wrap .fotorama_vertical_ratio.fotorama__thumb{width:90px !important; height:90px !important;}

.custom-product-view .product-info-main.stat span.new-start.special{padding-top:3px;}
/********Fixed view **********/
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky{position:relative !important; top:0 !important;}
.page-product-grouped .pdp-main-area-bg.fixed-pdp-sticky, .custom-product-view .pdp-main-area-bg.fixed-pdp-sticky, .simple-product-view .pdp-main-area-bg.fixed-pdp-sticky, .page-product-configurable .pdp-main-area-bg.fixed-pdp-sticky {
    height: auto !important;
}
.pdp-main-area-bg.fixed-pdp-sticky{position:relative !important;box-shadow:none !important;}
.pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area{max-width:100% !important;}
.page-layout-1column .pdp-main-area-bg.fixed-pdp-sticky .product.media{width:100% !important; margin-left:0 !important;margin-bottom: 0px !important;}
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .flag-1, .catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .flag-2{display:inline !important;}
.pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area{float:left !important; width:100% !important;}
.catalog-product-view .column.main .pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area .product.media .fotorama__wrap--css3 .fotorama__stage__shaft{width: 100%!important;max-width:100% !important;height:322px !important;margin:0 auto !important;}
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area .product.media .fotorama__wrap--css3 .fotorama__stage__frame {
    height: auto!important;
    position: absolute!important;
    left: auto!important;
	left:0 !important;
	right:0 !important;
	margin:0 auto !important;
}
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area .product.media .fotorama__img{
    max-width: 100% !important;
    width: auto!important;
    height: 100%!important;
}
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area .product.media .fotorama__active > img.fotorama__img{
	width: auto!important;
    height: 280px!important;
	-webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .fotorama__stage__frame.fotorama__active > img{width:auto !important; height:280px !important; margin:0 auto !important;}
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area .product.media .fotorama__wrap--css3 .fotorama__stage__frame.fotorama__active{width:100% !important;height: 322px !important;}
.pdp-left-icons{display:none !important;}
.page-product-grouped.catalog-product-view .column.main .pdp-main-area-bg.fixed-pdp-sticky .product.media.bottom, .custom-product-view.catalog-product-view .column.main  .pdp-main-area-bg.fixed-pdp-sticky .product.media.bottom, .custom-product-view.catalog-product-view .column.main .pdp-main-area-bg.fixed-pdp-sticky .product.media.bott0om, .page-product-configurable.catalog-product-view .column.main  .pdp-main-area-bg.fixed-pdp-sticky .product.media.bottom{top:0 !important;}
.catalog-product-view.page-product-grouped .pdp-sticky-except-area, .catalog-product-view.simple-product-view .pdp-sticky-except-area, .catalog-product-view.custom-product-view .pdp-sticky-except-area, .catalog-product-view.page-product-configurable .pdp-sticky-except-area {
    margin-top: 0 !important;
}
.column.main .pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area .product.media .fotorama__nav-wrap.fotorama__nav-wrap--horizontal{display:block !important; width:100% !important;}
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area .product.media .fotorama__wrap--slide .fotorama__stage, .catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .pdp-main-area .product.media .fotorama__wrap--slide .fotorama__stage {
    width: 100%!important;
    height: 322px!important;
    border-bottom: 0px none;
	margin:0 auto;
	padding-bottom:5px !important;
}
.catalog-product-view.page-product-grouped .pdp-main-area-bg.fixed-pdp-sticky .product-info-main .product-add-form, .catalog-product-view.simple-product-view .pdp-main-area-bg.fixed-pdp-sticky .product-info-main .product-add-form, .catalog-product-view.custom-product-view .pdp-main-area-bg.fixed-pdp-sticky .product-info-main .product-add-form, .catalog-product-view.page-product-configurable .pdp-main-area-bg.fixed-pdp-sticky .product-info-main .product-add-form{
	width:100% !important;
}
.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .product-info-main .product-add-form{
	position:unset !important;
}
.page-product-grouped .fixed-pdp-sticky .price-final_price.rng-price {
    padding-left: 0 !important;
    padding-top: 7px !important;
}
.page-product-grouped .fixed-pdp-sticky .price-final_price{padding-top:7px !important;}
.page-product-grouped .pdp-main-area-bg.fixed-pdp-sticky .product-add-form .select-item{
	display:none !important;
}
.custom-product-view .pdp-main-area-bg.fixed-pdp-sticky span.cst-top-prc, .custom-product-view.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .product-info-main .product-info-price{
	display:block !important;
}
.custom-product-view .pdp-main-area-bg.fixed-pdp-sticky .cst-top-prc.cust_opt_prc{display:none !important;}
.page-main.maincontent-sticky .product-options-bottom{display:inline !important;}
.custom-product-view .product-info-main .product-info-price{padding-top:0 !important;}
.custom-product-view .product-info-main .product-options-bottom .product-info-price .old-price{line-height:1;margin-top: 0px;}
.custom-product-view span.new-start.old-price{
	float: left !important;
    display: inline;
    line-height: 1;
    width: auto;
    padding-bottom: 0;
	padding-top:0px;
	font-size: 13px !important;
}
.custom-product-view span.new-start.special{
	float: left;
    clear: none;
    display: inline;
    margin-bottom: 0;
    line-height: 1;
	padding-top:0px;
}
.custom-product-view .pdp-main-area-bg.fixed-pdp-sticky span.new-start.special{top:2px;}
.custom-product-view .pdp-main-area-bg.fixed-pdp-sticky .product-info-main .product-options-bottom .product-info-price{margin-top:-18px !important;}
.pdp-main-area-bg.fixed-pdp-sticky .product-info-main .page-title-wrapper{margin-top:6px !important}
.catalog-product-view.custom-product-view .fixed-pdp-sticky .product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price{
	line-height:1 !important;
}
.catalog-product-view.custom-product-view .fixed-pdp-sticky .product-info-main .product-info-price .price-box span.old-price{
	line-height: 1 !important;
    margin-top: -2px !important;
}
.page-product-configurable .fixed-pdp-sticky .product-info-main .product-options-bottom .box-tocart, .page-product-grouped .fixed-pdp-sticky .product-info-main .product-options-bottom .box-tocart{
	display:none !important;
}
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left, .fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right{
	display:none !important;
}
.page-product-configurable .page-main.maincontent-sticky .product-add-form{display:none !important;}
.page-product-grouped.catalog-product-view .pdp-main-area-bg.fixed-pdp-sticky .product-add-form .table-wrapper.grouped{display:block !important;}
.page-product-grouped .fixed-pdp-sticky .price-final_price{padding-left:0 !important;}
.page-product-grouped .fixed-pdp-sticky .table.grouped .product-item-name{
	float: left;
    width: 100%;
}
.page-product-grouped .fixed-pdp-sticky .table.data.grouped .price-final_price{padding-top:0 !important;}
/********Fixed view **********/
.product.media .fotorama-item.fotorama .fotorama__nav--thumbs {
    height: auto !important;
	float: left !important;
	overflow:hidden !important;
}
.simple-product-view .product-info-main .product-info-price{padding:0 0;}
.simple-product-view .product-info-main .product-add-form{padding:1px;}
.page-layout-1column .product-info-main{clear:both !important;}
.page-product-configurable .price-box.price-final_price .rprc.special{
	float: left;
    padding-left: 5px;
}
.page-product-configurable .price-box.price-final_price .rprc.special span {
    color: #ad1457 !important;
}
.pdp-des-detail-left-area p, div.pdp-des-detail-left-area{padding:0;}
/***************12-oct-2017*****************/  
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price, .page-product-grouped .price-box .special-price span.price{font-size:13px !important;}
.page-main .product-info-price .price-box .old-price span.price, .page-product-grouped .page-main .product-add-form .price-box.rng-price .old-price span.price{font-size:13px !important;}
.page-product-grouped span.mini-price, .page-product-grouped span.max-price, .page-product-grouped span.itemcnttotal{font-size:13px !important;}
.page-product-grouped .product-info-main .product-add-form{padding-top:2px !important;}
.page-product-grouped .fixed-pdp-sticky div.price-final_price.price-box{position:relative; top:-5px;}
.page-product-grouped .fixed-pdp-sticky .table.grouped div.price-final_price.price-box{
	position:unset;
	top:0;
}
.page-product-configurable .column.main .price-box.price-final_price .rprc.old-price, .page-product-configurable .column.main .price-box.price-final_price .rprc{font-size:13px !important;margin-top:7px !important;margin-bottom: 5px !important;}
span.cst-top-prc{font-size:13px !important;}
.custom-product-view .product-info-main .page-title-wrapper h1{margin-bottom:-2px !important;}
.table.grouped > tbody{margin-bottom:5px !important;}
.table.grouped > tbody{height:65px;}
.table.grouped > tbody img{width:65px !important;}
.custom-product-view span.cst-top-prc.simp_opt_prc {padding-top:10px !important;}
.custom-product-view span.cst-top-prc.cust_opt_prc {padding-top: 7px !important;}
.custom-product-view span.cst-top-prc.simp_opt_prc span.new-start {
    margin-top: -3px;
    float: left;
}
.custom-product-view .page-main .product-options-bottom {
    display: inline !important;
    margin-top: 5px !important;
    float: left !important;
    width: 100% !important;
}
.custom-product-view .pdp-main-area-bg.fixed-pdp-sticky .product-info-main .product-options-bottom .product-info-price{margin-top:0 !important;}
.custom-product-view .fixed-pdp-sticky .mini-sticky-option-area{display:none !important;}
.fixed-menu-sticky .logo{margin:0 !important;}
.simple-product-view .product-info-price .price-box .old-price{
	line-height:1 !important;
}
.simple-product-view .product-info-main .product-info-price .price-box {
    padding-top: 2px;
}
.product-info-main .page-title-wrapper h1{font-size:18px !important;}
.catalog-product-view .fixed-pdp-sticky .product-info-main .product-info-price .price-box span.old-price{padding-right:0 !important;}
.page-product-configurable .fotorama-item .fotorama__wrap .fotorama__grab{
	transform: inherit !important;
}
body{margin:8px !important;}
span.new-start.old-price{padding-bottom:0px !important;}
.oos-msg{display:none !important;}
.product.media .fotorama__wrap--slide .fotorama__stage {
    border: 0 !important;
}
.columns{display:inline !important;}

.custom-product-view .product-info-main .product-options-bottom .product-info-price {
    display: none !important;
}
.custom-product-view .cst-top-prc.cust_opt_prc.aftrclksw{/*display:none !important;*/}
}