<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="requestcatalog" frontName="request-a-catalog">
            <module name="Plumtree_RequestCatalog" />
        </route>
    </router>
</config>