<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        
        <update id="FME_Extensions::fmeextensions" title="Custom Furniture" module="Magento_Backend" sortOrder="30" resource="FME_Extensions::fmeextensions"/>
        		
		<add id="Plumtree_Complexgrd::slider" title="Product Options" module="Plumtree_Complexgrd" action="plumtree_complexgrd/slider" resource="Plumtree_Complexgrd::slider" parent="FME_Extensions::fmeextensions"/>
		 <add id="FME_Banners::banners" title="Options Management" module="FME_Banners"  parent="FME_Extensions::fmeextensions" action="banners/index/index" resource="FME_Banners::banners"/>
		<add id="Plumtree_Complexoptiongroup::plumtree_complexoptiongroupgrid_index" title="Option Groups" module="Plumtree_Complexoptiongroup"  parent="FME_Extensions::fmeextensions" action="complexoptiongroup/complexoptiongroupgrid/index" resource="Plumtree_Complexoptiongroup::plumtree_complexoptiongroupgrid_index"/>
		 
       
    </menu>
</config>
