<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Shipping\Controller\Adminhtml\Order\Shipment\PrintLabel" type="Plumtree\Upslableprnt\Controller\Adminhtml\Order\Shipment\PrintLabel" />	
	<preference for="Magento\Shipping\Model\Shipping\LabelGenerator" type="Plumtree\Upslableprnt\Model\Shipping\LabelGenerator" />
</config>
